.active-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 100%;
    background-color: #1e96ab; /* Underline color */
}

.nav-item {
    text-decoration: none;
    position: relative;
    padding-bottom: 10px;
    height: 100%;
}